.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #0F0F0F;
    margin-left: var(--main-side-padding);
}

.header__logo > span {
    font-size: 1.8rem;
}