.header-icon {
    border: none;
    margin-left: 1vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon > img {
    user-select: none;
    height: 2rem;
}