.filter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
    padding: 1vw;
    box-sizing: border-box;
    background-color: var(--main-color-white);
    border-radius: 0.5vw;
}

.filter__input {
    width: auto;
    height: 2.5vw;
    border-radius: 0.5vw;
    padding-left: 4%;
}

